html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, img, kbd, q, samp,
small, strike, strong, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --backrgound-default: #222;
    --background-important: #171717;
    --background-highlight: #2f2f2f;
    --color-default: #ccc;
    --color-brand: #ffcf01;
    --color-brand-contrast: #000;
    --color-side:  #999;
}

html {
    font-family: 'Roboto-local',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-default);
    scroll-behavior: smooth;
}

div {
    box-sizing: border-box;
}

a {
    color: var(--color-brand);
    text-decoration: none;
}

ul {
    list-style-position: inside;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.anchor {
    display: block;
    position: relative;
    top:-100px;
    visibility: hidden;
}

.canvas-content {
    background: var(--backrgound-default);
    width: 100%;
/*    min-height: 1020px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.content-section {
    width: auto;
    padding: 25px 0 10px;
}

.content-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.content-section>.content-container, footer>.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.background-important {
    background: var(--background-important);
}

.text-highlight {
    color: var(--color-default);
    font-size: 1.2rem;
}

.text-muted {
    color: var(--color-side);
    font-size: 0.85rem;
}

.text-center {
    text-align: center;
}

.margin-top {
    margin-top: 25px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.column-flow {
    display: flex;
    flex-flow: column;
    align-content: center;
}
.column-flow>* {
    margin-left: auto;
    margin-right: auto;
}

/* <editor-fold desc="Header"> */

.logo, .logo-small, .logo-large {
    padding: 2px 5px;
}

.logo>img {
    display: block;
    width: 80%;
    height: auto;
}

@media (max-width: 960px) {
    .logo-large {
        display: none !important;
    }
}

@media (max-width: 640px) {
    .logo-small {
        display: none !important;
    }
}

@media (min-width: 960px) {
    .logo-small {
        display: none !important;
    }
}

.navbar-container, .navbar-container-placeholder {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 50px;
}

.navbar-container {
    position: fixed;
    background: var(--backrgound-default);
    border-bottom: 1px solid var(--background-highlight);
    box-shadow: 0 0 30px 0 var(--background-important);
}

.navbar-left {
    display: flex;
    gap: 0;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.navbar-right {
    margin-left: auto;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-nav>li>a, .navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.25em;
    box-sizing: border-box;
    min-height: 50px;
    font-size: .875rem;
    text-decoration: none;
}

.navbar-nav>li:hover {
    background: var(--background-highlight);
}

.navbar-nav>li.current-active {
    background: var(--background-important);
}

.navbar-nav>li>a {
    padding: 0 20px;
    color: #999;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* </editor-fold> */

/* <editor-fold desc="Main"> */

.section-header {
    font-size: 1.6rem;
}

main>.content-section {
    padding: 45px 0;
}

main>.content-section:nth-child(odd) {
    background: var(--background-important);
}

.promotion-cover {
    width: 100%;
    align-content: center;
    overflow: hidden;
}

.promotion-cover>a>img {
    height: 512px;
    width: 100%;
    object-fit: cover;
}

.item-grid {
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    column-gap: 5%;
    width: 100%;
}

.button-primary, .button-secondary {
    border-radius: 15px;
    padding: 8px 5%;
    width: 35%;
    text-align: center;
    min-width: 155px;
}

.button-primary {
    margin-top: 35px;
    background: var(--color-brand);
    color: var(--color-brand-contrast);
}

.button-secondary {
    background: var(--backrgound-default);
    color: var(--color-default);
    margin-top: 7px;
}

.card {
    flex-basis: 30%;
    padding: 15px 20px;
}

@media (max-width: 960px) {
    .card {
        flex-basis: 45%;
        padding: 5px 10px;
    }
    .item-grid {
        column-gap: 0;
    }
}

@media (max-width: 640px) {
    .card {
        flex-basis: 85%;
    }
}

.model-card {
    margin: 25px auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: var(--background-important);
    border-radius: 15px;
    padding: 5px 10px;
    width: 25%;
}

.model-card>* {
    margin-top: 15px;
    max-width: 75%;
}

.model-card>img {
    height: auto;
    width: 80%;
    border-radius: 5px;
}

.model-card>p {
    text-align: left;
    width: 80%;
}

.partner-card {
    margin: 10px auto;
    max-width: 12%;
    min-width: 175px;
    padding: 5px;
}

.partner-card>a {
    display: inline-block;
}

.partner-card>a>img {
    border-radius: 25%;
    width: 100%;
    height: auto;
}

.configurator-container {
    padding: 10px 15px;
}

.configurator-container>p {
    display: inline-block;
}

.text-promo {
    margin: 10px auto;
    display: flex;
    flex-flow: column;
    row-gap: 10px;
}

.text-promo>* {
    display: inline-block;
}

.text-promo>li {

}

@media (max-width: 640px) {
    .image-promo {
        display:none;
    }
    .configurator-container {
        display: flex;
        flex-flow: column;
        align-content: center;
    }
}

@media (max-width: 960px) {
    .text-promo>.text-muted {
        display: none;
    }
}

/* </editor-fold> */